.redactorHTML
	&__nav
		display: block
		position: fixed
		bottom: 10vh
		margin-left: 50%
		transform: translateX(-50%)
		padding: 6px
		border-radius: 5px
		background-color: #9AEEAA
	
	&__button
		border: none
		background-color: #83A9FF
		padding: 5px
		
		&_action
			background-color: #FF9D83
	
	&__action-block
		border: 5px solid #F2FC55	